body {
	font-family: Arial, Verdana; /* Семейство шрифтов */
	font-size: 27pt; /* Размер основного шрифта в пунктах */
	background-color: black; /* Цвет фона веб-страницы */
	color: #333; /* Цвет основного текста */
}
h1 {
	color: #ffff00;
	font-size: 20pt;
	font-family: Georgia, Times, serif;
    font-weight: normal;
}
p {
	text-align: justify;
	margin-left: 59px;
	margin-right: 9px;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	padding-left: 10px;
	padding-bottom: 10px;
}